.reservaion-item {
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 20px;
    text-align: center;
    height: 120px;
}

.reservaion-item h3 {
    margin: 2px;
}

.button {
    font-size: 19px;
    margin-top: 7px;
    background-color: rgb(211, 93, 25);
    color: white;
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
}